$color-green: #f01010;
$color-green-dark: #ac1b1b;
$color-green-light: #ffe7e7;

$color-pink: #51f03c;
$color-pink-dark: #30bd30;
$color-pink-light: #ecffef;

$color-blue: #3c48f0;
$color-blue-dark: #2b4ab1;

$color-white: #ffffff;
$color-gray: #888888;
$color-dark: #222222;
$color-link:  #3CC2EF;
$color-link-dark:  #2e9abe;
$color-note: #F0ED3C;
$color-error: #F03C3C;
$color-background-primary: #f7f8ff;
$color-background-secondary: #eeefff;
$color-title-subdued: #c2c2c2;

$color-navbar: $color-white;

$color-heading: $color-blue;
$color-content: $color-dark;