@use "fonts.scss" as fonts;
@use "colors.scss" as colors;
@use "sass:color";

$font-bigg: 24px;
$font-medium: 18px;
$font-small: 14px;
$padding-bottom: 12px;

p{
    margin-bottom: 0;
}

.heading{
    font-weight: fonts.$fonts-bold;
    font-size: $font-bigg;
    color: colors.$color-heading;
    padding-bottom: $padding-bottom;
}

.sub-heading{
    font-weight: fonts.$fonts-bold;
    font-size: $font-medium;
    color: color.adjust(colors.$color-heading, $lightness: -20%);
}
.paragraph{
    font-weight: fonts.$fonts-regular;
    font-size: $font-small;
    color: colors.$color-content;   
}
.sub-dudded{
    color: colors.$color-title-subdued;
}