@use "fonts.scss" as fonts;
@use "colors.scss" as colors;
@use "sass:color";

$font-bigg: 24px;
$font-medium: 18px;
$font-small: 14px;

p{
    font-weight: fonts.$fonts-regular;
}

.heading{
    font-weight: fonts.$fonts-bold;
    font-size: $font-bigg;
    color: colors.$color-heading;
}

.sub-heading{
    font-weight: fonts.$fonts-bold;
    font-size: $font-medium;
    color: color.adjust(colors.$color-heading, $lightness: -20%);
}

.sub-dudded{
    color: colors.$color-gray;
}